body {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;

	.menu-top {
		background: @mainColor;
		opacity: @opacityMainColor;
		color: @white;
		min-height: 50px;
		width: auto;
		padding: 10px 0 8px;
	}

	.banner {
		img {
			width: 100%;
			height: auto;
			display: block;
			opacity: 0.90;
		}	
	}

	.contact {
		font-size: 14px;
		padding: 6px 0;

		a {
			margin-right: 1em;
			color: @white;
		}


		i.fa {
			margin-right: 5px;
		}

	}

	ul.social {
		margin-bottom: 0;
		padding-left: 0;

		li {
			border-radius: 10% 10% 10% 10%;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
			display: inline-block;
			height: 30px;
			margin-right: 10px;
			margin-left: -4px;
			width: 30px;
			text-align: center;
			background: @white;
			.transition (background .3s ease-in-out);
			padding: 0.45em 0.45em;
			list-style: none;

			a {
				color: @mainColor;
			}

			&:hover {
				i.fa {
					color: @white;
				}

				&.facebook{
					background: #4862A3;
				}

				&.twitter{
					background: #2C77BA;
				}

				&.github{
					background: #333333;
				}

				&.google-plus{
					background: #DD4B39;
				}

				&.reddit{
					background: #CEE3F8;
					i.fa {
						color: @black;
					}
				}
			}

			i.fa {
				font-size: 19px;
			}
		}
	}

	.site-content {
		padding: 4em 0.75em 0 2em;

		a {
			color: #0D6802;
		}

		.icons {
			float: left;
			height: 6em;
			padding-right: 1.5em;

			.icon.fa {
				font-size: 5em;
				color: #0D6802;
			}
		}
	}

	.open-close {
		i {
			&:after {
				font-family: 'Tahoma';
				font-size: 16px;
			}
		}

		i.fa-unlock{
			font-size: 20px;
			&:after {
				content: " Matehackers Aberto";
			}
		}

		i.fa-lock{
			font-size: 20px;

			&:after {
				content: " Matehackers Fechado";
			}
		}
	}
}

@media (max-width: 768px) { /* TODO ajustar essa media query para utilizar as variaveis do bootstrap! */ 
	body {

		.menu-top {
			min-height: 0px;
			padding: 3px 0;
			text-align: center;
			float: none !important;
			.pull-left, .pull-right {
				float: none !important;
			}

			.slidedown {
				padding-bottom: 8px;
			}

		}

		.contact {
			a {
				text-align: center;
				display:block;
				line-height: 30px;
			}

		}

		#top {
			#downbuttondiv {
				text-align: center;

				.down-button {
				    float: none;
					cursor: pointer;
				    margin-top: -1px;
				    padding: 0;
				    
				    i.fa {
				    	color: @white;
						background: @mainColor;
						opacity: @opacityMainColor;
				    	display: inline-block;
				    	border-radius: 0 0 3px 3px;
				    	padding: 4px 10px 2px;
					}
				}
			}

		}

	}
}


@media (min-width: 768px) {
	body {

		.menu-top {
			.collapse {
				display: block !important;
    			height: auto !important;
    			overflow: visible !important;
			}
		}

	}

}