body {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;

	margin: 0;
	padding: 0;

	.entrance {
		background: url(../img/overlay.png), url(../img/top-bg.jpg) bottom center no-repeat;
		width: 100%;
		height: 100%;
		max-height: auto;
		opacity: @opacityMainColor;
	}
}